<% layout('./layouts/boilerplate')%>
<link rel="stylesheet" href="/static/stylesheets/modal.css" />
<link rel="stylesheet" href="/static/stylesheets/view-detail.css" />

<div class="section-container">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text mx-auto" id="viewPatientLabel">
        <img class="mr-2" src="/static/assets/icon/patient.svg" />Patient Detail
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="name" class="col-form-label">Name</label>
        <div class="text content"><%=item.data.name%></div>
      </div>
      <div class="mb-3">
        <label for="number" class="col-form-label">Institution</label>
        <div class="text content"><%=item.data.institution%></div>
      </div>
      <div class="mb-3">
        <label for="number" class="col-form-label">Occupation</label>
        <div class="text content"><%=item.data.occupation%></div>
      </div>
      <div class="mb-3">
        <label for="email" class="col-form-label">Email</label>
        <div class="text content"><%=item.data.email%></div>
      </div>
      <div class="mb-3">
        <label for="number" class="col-form-label">Phone Number</label>
        <div class="text content"><%=item.data.number%></div>
      </div>
      <div class="mb-3">
        <label for="note" class="col-form-label">Note</label>
        <div class="text content"><%=item.data.note%></div>
      </div class="mb-3">
        <label for="note" class="col-form-label">Recent Referral </label>
        <% if(referrals && referrals._size != 0) {%> <%- include('../referrals/card-plugin', {items: referrals,
          userId: userId}) %> <% }else {%>
          <div class="content text">No Results Found.</div>
          <% } %>
      </div>
    </div>
  </div>
</div>
