<link rel="stylesheet" href="/static/stylesheets/card.css" />
<% items.forEach(function(item) { %>
<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
  <div class="card d-flex justify-content-between">
    <div class="d-flex justify-content-between">
      <% if(item.data.avatar) {%>
      <img class="avatar" alt="" src="<%=item.data.avatar%>" />
      <% }else {%> <% if(item.data.gender == 'M') {%>
      <img class="avatar" alt="" src="/static/assets/avatar/male.svg" />
      <% }else {%>
      <img class="avatar" alt="" src="/static/assets/avatar/female.svg" />
      <% } %> <% } %>
      <img class="icon mr-3" alt="" src="/static/assets/icon/view.svg" />
    </div>
    <div class="card-title text"><%=item.data.name%></div>
    <div class="center mx-auto">
      <div class="mini-card text center flex-column mr-2">
        <span><%=item.data.age%></span>
        <div class="sub-title">Age</div>
      </div>
      <div class="mini-card text center flex-column">
        <span><%=item.data.gender%></span>
        <div class="sub-title">Sex</div>
      </div>
    </div>
    <div class="last-update center"><%=item.data.lastUpdate%></div>
  </div>
</div>
<% }) %>
